<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service">
            <h3>Microsoft Power Platform </h3>
            <p>I'm currently a full time DevOps Software Engineer helping a large organization standardize their governance, development, and maintenance of Power Platform solutions the company produces internally.</p>
        </div> <!-- / service -->
        <div class="service">
            <h3>Microsoft Azure</h3>
            <p>I work in Microsoft Azure, with most of my time spent deploying services in Azure Pipelines and utilizing scripting languages such as PowerShell for one-off automation within the pipelines.</p>
        </div> <!-- / service -->
        <div class="service">
            <h3>Angular</h3>
            <p>I've been developing with Angular part time (mostly on hobby projects). At the moment I'm learning more about developing apps using MEAN (MongoDB, Express, Angular, Node). Projects coming to this site soon!</p>
        </div> <!-- / service -->
    </div> <!-- / services -->
    
    <a href="#work" class="btn">My Work</a>
</section>