<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate reprehenderit commodi iste praesentium sunt sit magni, mollitia accusantium velit autem. Porro nemo, dolorem earum expedita tempore minima necessitatibus reiciendis debitis.</p>
        </div> <!-- / service -->
        <div class="service">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus, doloribus unde pariatur eaque veritatis similique magnam omnis sapiente ratione ipsa dolorem atque tenetur id deserunt! Fuga laudantium omnis eaque.</p>
        </div> <!-- / service -->
        <div class="service">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid ad autem quisquam obcaecati laudantium eum amet? Rem dolore earum soluta, nihil reiciendis odit sunt corporis fugit, accusamus, vero sit et! Voluptatem cum aliquid porro sequi reprehenderit molestiae numquam sed.</p>
        </div> <!-- / service -->
    </div> <!-- / services -->

    <a href="#work" class="btn">My Work</a>
</section>