<header>
    <div class="logo">
        <img src="/assets/logo.png" alt="">
    </div>
    <button
        [ngClass]="{'nav-open-toggle': isNavOpen, 'nav-toggle': true}"
        aria-label="toggle navigation"
        (click)="onNavToggle()">
        <span [ngClass]="{'nav-open-hamburger': isNavOpen, 'hamburger': true}"></span>
    </button>
    <nav [ngClass]="{'nav-open': isNavOpen, 'nav': true}">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#home" class="nav__link" (click)="onNavToggle()">Home</a>
            </li>
            <li class="nav__item">
                <a href="#services" class="nav__link" (click)="onNavToggle()">My Services</a>
            </li>
            <li class="nav__item">
                <a href="#about" class="nav__link" (click)="onNavToggle()">About Me</a>
            </li>
            <li class="nav__item">
                <a href="#work" class="nav__link" (click)="onNavToggle()">My Work</a>
            </li>
        </ul>
    </nav>
</header>
