<footer class="footer">
    <p>Follow more of my work from the links below</p>
    <ul class="social-list">
        <li class="social-list__item">
            <a href="https://www.github.com/bnewberg" class="social-list__link">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faDev"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faAngular"></fa-icon>
            </a>
        </li>
    </ul>
</footer>