<footer class="footer">
    <a target="_blank" href="https://www.vecteezy.com/free-vector/mountain" class="footer__link">Mountain Vectors by Vecteezy</a>
    <ul class="social-list">
        <li class="social-list__item">
            <a href="https://www.github.com/bnewberg" class="social-list__link">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faDev"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </li>
        <li class="social-list__item">
            <a href="#" class="social-list__link">
                <fa-icon [icon]="faAngular"></fa-icon>
            </a>
        </li>
    </ul>
</footer>