<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">Technologist & outdoor enthusiast</p>

    <div class="about-me__body">
        <p>In my spare time, I'm usually with family and friends. I also enjoying hiking, backpacking, camping, and skiing. In fact, most of the pictures on this site are from some of my adventures (the one on the right was taken on top of Half Dome in Yosemite Nation Park).</p>
        <br>
        <br>
    </div>

    <img src="/assets/me-in-yosemite.jpg" alt="another picture of Branden" class="about-me__img">
</section>