<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">Lorem ipsum dolor sit amet consectetur adipisicing.</p>

    <div class="about-me__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate fuga numquam, non aperiam odit officia, quibusdam suscipit dolorem deleniti cupiditate aliquam quae iure autem dolorum? Molestiae, delectus! Obcaecati, animi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae blanditiis deserunt, illo quos numquam est assumenda voluptatibus alias expedita at, nesciunt iure ut labore sapiente repudiandae doloremque nobis hic qui. Magni inventore, doloremque saepe quasi iure adipisci blanditiis dolorum?</p>
    </div>

    <img src="/assets/me-in-yosemite.jpg" alt="another picture of Branden" class="about-me__img">
</section>