<section class="my-work" id="work">
    <h2 class="section__title section__title--work">My Work</h2>
    <p class="section__subtitle section__subtitle--work">A selection of my previous work</p>

    <!-- <div class="portfolio"> -->
    <div>
        <a href="#" class="portfolio__item">
        <!-- <a href="#"> -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Australian_Wood_Duck_female_RWD.jpg/180px-Australian_Wood_Duck_female_RWD.jpg" alt="" class="portfolio__img">
        </a>
        <!-- <a href="#" class="portfolio__item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Pacific_black_duck_02.jpg/180px-Pacific_black_duck_02.jpg" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Buiobuione-mandarin-duck-warsaw.jpg/180px-Buiobuione-mandarin-duck-warsaw.jpg" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Wood_duck_in_approach.jpg/180px-Wood_duck_in_approach.jpg" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flying_duck.JPG/180px-Flying_duck.JPG" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Fulvous_whistling_duck.JPG/170px-Fulvous_whistling_duck.JPG" alt="" class="portfolio__img">
        </a> -->
    </div>
</section>
