<section class="my-work" id="work">
    <h2 class="section__title">My Work</h2>
    <p class="section__subtitle"></p>

    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <img src="" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="" alt="" class="portfolio__img">
        </a>
    </div>
</section>
